/* Global css */
* {
    margin: 0;
    padding: 0;

}

.global-button {
    width: 55px;
    height: 30px;
    background-color: blue;
    text-align: center;
    color: aliceblue;

}

/* First Section */
.First-section {
    background-image: url(./img_food.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 10rem 0;
    text-align: center;


}

.First-section h2 {
    font-size: 5rem;
    margin: 10px 0;

}

.First-section p {
    font-size: 3rem;

}

.second-section {
    padding: 3rem 0;
    background-color: rosybrown;
}

.second-heading {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 8px;
}

.second-para {
    color: black;
    text-align: center;
}

.about-main-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
}

.about-sub-div {
    width: 500px;
}

.about-sub-div h2 {
    font-size: 33px;
}

.about-sub-div p {
    color: black;
    margin: 15px 0;
    font-size: 15px;
}

/* This is service area */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-single-item {
    padding: 50px;
    text-align: center;

}

.grid-single-item h2 {
    margin: 15px 0;

}

.grid-single-item p {
    color: brown;

}

.work-single-img {
    width: 390px;
}

.testimonial-para {
    color: black !important;
    margin-top: 5px;
}

.contact-heading {
    font-size: 55px;
    text-align: center;
}

form {
    margin-left: 33rem;
    margin-top: 20px;
}

form input {
    width: 252px;
}

form textarea {
    width: 450px;
}

.submit-button {
    width: 180px;
    height: 35px;
    background-color: black;
    color: white;
    margin-top: 10px;
}

footer {
    background-color: black;
    color: white;
    height: 3rem;
    text-align: center;
}

footer p {
    padding-top: 15px;
}